In [1]:
print("HELLO WORLD")

HELLO WORLD

In [2]:
print("Hello, mari belajar Phyton!")

Hello, mari belajar Phyton!

In [3]:
print("Nama Kamu siapa ? Aku Yasmin")
print("halo yasmin! Aku Nadia")

Nama Kamu siapa ? Aku Yasmin
halo yasmin! Aku Nadia

In [4]:
print("Nama Kamu siapa ? Aku Yasmin")
print()
print("halo yasmin! Aku Nadia")

Nama Kamu siapa ? Aku Yasmin

halo yasmin! Aku Nadia

In [5]:
print("Nama Kamu siapa ?\nAku Yasmin")
print()
print("halo yasmin!\nAku Nadia")

Nama Kamu siapa ?
Aku Yasmin

halo yasmin!
Aku Nadia

In [6]:
print("Ada yang tak tenggelam" , "saat senja" , "yaitu rasa")

Ada yang tak tenggelam saat senja yaitu rasa

In [7]:
print("My name is", "Python." , end=" ")
print("Monty Python.")

My name is Python. Monty Python.

In [8]:
print("Senja", "itu", "seperti kita", sep="_", end="*")
print("Singkat" , "dan" , "Bahagia.", sep="*", end="*\n")
print("The end")

Senja_itu_seperti kita*Singkat*dan*Bahagia.*
The end

In [10]:
3E8

300000000.0

In [12]:
6.62E-3

0.00662

In [13]:
10+2 #oddition

12

In [15]:
10-2 #subtraction

8

In [16]:
10*10 #multiplication

100

In [17]:
27/3 #classic division

9.0

In [18]:
#floor/integer division
print(7//3) #pembulatan kebawah menghasilkan integer
print(12.5//2) #pembulatan kebawah menghasilkan float

2
6.0

In [19]:
#exponentiation
print(9**2)
print(9.**2.)
print(9**2.)
print(9.**2)

81
81.0
81.0
81.0

In [20]:
#modulus
print(9%2) #sisa pembagian
print(8%5)

1
3

In [21]:
print(3**5**3) #operasi dari kanan 3**(5**3)

436673502879206784130402698570834024654748577491697818855443

In [22]:
#penginputan data
tinggi_1 = 150
tinggi_2 = 170
berat_1 = 50
berat_2 = 55

In [23]:
#print out data
print (tinggi_1, tinggi_2)
print(berat_1, berat_2)

150 170
50 55

In [24]:
t1 = 1
t2 = 2
t1 = t1+2 #t1 yg akan dimasukkan adalah t1 terakhir yaitu 2
print(t1)

3

In [25]:
var = 2
print(var)
var = 3
print(var)

2
3

In [26]:
a = 2
b = 5
c = 8
d = 6
e = 10
#a=a+2*2 -> a=6
a += 2*2
print (a)

6

In [27]:
#c=c/2 -> c=4
c /= 2
print(c)

4.0

In [28]:
#e=e**2 ->e=100
e **=2
print(e)

100

In [29]:
#FUNGSI INPUT
nama = input("Namamu siapa? :") #hasil fungsi input () ini berupa string
print("Namaku",nama)

Namamu siapa? :yasmin
Namaku yasmin

In [30]:
ips_1 = float(input("Nilai IPS semester 1 : "))
ips_2 = float(input("Nilai IPS semester 2 : "))
ipk = (ips_1+ips_2)/2.0 #agar dapat dilakukan operasi aritmatika, variabel harus bersifat numerik
print("jadi nilai IPK ku adalah", ipk)

Nilai IPS semester 1 : 3.68
Nilai IPS semester 2 : 3.54
jadi nilai IPK ku adalah 3.6100000000000003

In [31]:
#OPERATOR STRING
first = input("Nama pertama :")
last = input("Nama terakhir :")
print("Namaku adalah " + first +" "+ last)

Nama pertama :Yasmin
Nama terakhir :Findiariska
Namaku adalah Yasmin Findiariska

In [32]:
#OPERATOR PERBANDINGAN
#Equality Operator a==b, apakah a sama dengan b ?
print(2==3)
print(4==4)

False
True

In [33]:
a = 3
print(a==4)
print(a==3)

False
True

In [34]:
#Intequality Operator a!=b, apa a tidak sama dengan b?
print(2!=3)
print(5!=5)

True
False

In [35]:
a = int(input("Masukkan nilai a: "))
b = int(input("Masukkan nilai b: "))
if a==b:
    print("yeay!")
print("oops sorry") #syarat terpenuhi atau tidak, perintah ini berlaku dalam keadaan apapun

Masukkan nilai a: 3
Masukkan nilai b: 4
oops sorry

In [36]:
num1 = int(input("Masukkan angka pertama: "))
num2 = int(input("Masukkan angka kedua: "))

#Memilih angka yang lebih besar
if num1>num2:
    besar = num1
else:
    besar = num2
    
#Menampilkan hasil
print("angka yang lebih besar:", besar)

Masukkan angka pertama: 7
Masukkan angka kedua: 6
angka yang lebih besar: 7

In [37]:
fav_plant = input("Tanaman kesukaanmu: ")
if fav_plant=="Oryza":
    print("yeay benar sekali")
else:
    print("oops")

Tanaman kesukaanmu: jasmine
oops

In [38]:
besar = 10
num1 = int(input("Masukkan angka pertama: "))

while num1!=10:
    if num1>besar:
        besar = num1
    num1 = int(input("Masukkan angka pertama: "))
    print("gotcha")

Masukkan angka pertama: 15
Masukkan angka pertama: 16
gotcha
Masukkan angka pertama: 9
gotcha
Masukkan angka pertama: 10
gotcha

In [39]:
for i in range (5):
    print("nilai i adalah", i)

nilai i adalah 0
nilai i adalah 1
nilai i adalah 2
nilai i adalah 3
nilai i adalah 4

In [40]:
for i in range (2,10):
    print("nilai i adalah", i)

nilai i adalah 2
nilai i adalah 3
nilai i adalah 4
nilai i adalah 5
nilai i adalah 6
nilai i adalah 7
nilai i adalah 8
nilai i adalah 9

In [41]:
#break
for i in range(1,6):
    if i==3:
        break
    print("inside the loop.", i)
print("outside the loop")

inside the loop. 1
inside the loop. 2
outside the loop

In [42]:
#continue
for i in range(1,6):
    if i==3:
        continue #melompati atau melanjutkan ke looping berikutnya
    print("inside the loop.", i)
print("outside the loop")

inside the loop. 1
inside the loop. 2
inside the loop. 4
inside the loop. 5
outside the loop

In [43]:
num = [10, 5, 7, 2,1]
print("elemen-elemen asli: ", num)

num[0] = 111
print("perubahan elemen:", num)

num[1] = num[4]
print("perubahan elemen:", num)

elemen-elemen asli:  [10, 5, 7, 2, 1]
perubahan elemen: [111, 5, 7, 2, 1]
perubahan elemen: [111, 1, 7, 2, 1]

In [44]:
#fungsi len()
len(num)

5

In [45]:
#intruksi del
del num[1]
print(num)
print(len(num))

[111, 7, 2, 1]
4

In [46]:
#append() method
num = [100,101,102,105]
print(len(num))
print(num)

num.append(104)
print(len(num))
print(num)

4
[100, 101, 102, 105]
5
[100, 101, 102, 105, 104]

In [47]:
#None
value = None
if value == None:
    print("Hei itu bukan suatu nilai")

Hei itu bukan suatu nilai

In [48]:
def angka(n):
    if(n % 2 == 0):
        return True
    
print(angka(16))
print(angka(17))

True
None

In [49]:
#Dictionaries
nomortelp = {'Yasmin' : '03412345678', 'Findiariska' : '03418765432'}
kamuskosong = {}

print(nomortelp)
print(kamuskosong)
print(nomortelp['Yasmin'])

{'Yasmin': '03412345678', 'Findiariska': '03418765432'}
{}
03412345678

In [50]:
#Menghapus Item
bahasa = {'Indonesia':'Bahasa Indonesia','China':'Mandarin', 'England':'English'}
del bahasa['China']
print(bahasa)

#Menghapus item paling terakhir
bahasa = {'Indonesia':'Bahasa Indonesia','China':'Mandarin', 'England':'English'}
bahasa.popitem()
print(bahasa)

{'Indonesia': 'Bahasa Indonesia', 'England': 'English'}
{'Indonesia': 'Bahasa Indonesia', 'China': 'Mandarin'}

In [51]:
#Mengubah format tuple ke dictionaries
bahasa = (('Indonesia','Bahasa Indonesia'),('China','Mandarin'), ('England','English'))
newdict = dict(bahasa)
print(newdict)

{'Indonesia': 'Bahasa Indonesia', 'China': 'Mandarin', 'England': 'English'}